@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300&family=Patua+One&display=swap');

:root {
    --cor-primaria: #F4E8DB;
    --cor-secundaria: #b16406;
    --cor-terciaria: #5c6458;
    --cor-fonte: #141414;

    --fonte-primaria: 'Patua One', cursive;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-texto: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    /* min-height: 100vh; */
    background-color: var(--cor-primaria);
    color: var(--cor-fonte);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 5rem;
    list-style: none;
    align-items: center;
    
}

.cabecalho-menu-link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.cabecalho-menu-link:hover {
        color: #925204;
        transition: 0.3s;
        font-size: 1.625rem;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    gap: 82px;
    
    /* o align items serve pra posicionar os itens na vertical */
    align-items: center;
    
    /* enquanto o justify serve pra posicionar na horizontal */
    justify-content: space-between;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    
    /* é o espaçamento entre um item e outro */
    gap: 2.5rem;
}

.apresentacao-conteudo-sobre-nos {
    width: 57.5rem;
    display: flex;
    flex-direction: column;
    
    /* é o espaçamento entre um item e outro */
    gap: 2.5rem;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-secundaria);
    font-weight: lighter;
}

.apresentacao-conteudo-texto {
    font-size: 1.5rem;
    text-align: left;
    font-family: var(--fonte-texto);
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao-links-subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao-links-navegacao {
    display: flex;
    gap: 0.75rem;
    align-items:center;
    text-align: center;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    border-radius: 8px;
    font-size: 21px;
    padding: 16.5px 0;
    text-decoration: none;
    color: var(--cor-fonte);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    
}

.apresentacao-links-navegacao:hover {
    background-color: var(--cor-terciaria);
    transition: 0.3s;
}


.foto-principal {
    width: 50%;
}

.botao-cta {
  background-color: var(--cor-terciaria);
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: var(--fonte-secundaria);
}

.botao-cta:hover {
  background-color: var(--cor-primaria);
  color: #141414;
  transition: 0.3s;
}

.botao-cta:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .botao-cta {
    min-width: 120px;
    padding: 0 25px;
  }
}



.rodape {
    display: flex;
    flex-direction: column;
    background-color: #ecd5c7;
    color: gray;
    padding: 2% 15%;
    font-family: var(--fonte-secundaria);
    font-size: 0.875rem;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.rodape-redes-sociais {
    display: flex;
    gap: 18px;
    align-items: center;


}


.rodape-contato {
    text-align: center;
    line-height: 24px;
    
}

.rodape-copyright {
    font-size: 12px;
}


.contato {
    padding: 5% 15%;
    display: flex;
    gap: 82px;
    
    /* o align items serve pra posicionar os itens na vertical */
    align-items:center;
    
    /* enquanto o justify serve pra posicionar na horizontal */
    justify-content:space-between;
}

/* formulário */
.titulo-formulario {
    font-size: 1.3em;
    font-weight: bold;
    font-family: var(--fonte-secundaria);


}

fieldset {
    border:0;
}

input,select,textarea {
    border-radius: 5px;
    border-color: antiquewhite;

}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    margin-right: 0.4em;
    display: inline-table;
}

fieldset .grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid cadetblue;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffffff;
}

.botao {
    font-size: 1.2em;
    background-color: var(--cor-terciaria);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}

.botao:hover {
    background-color: #373d34;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}



/* mapa do google maps */
.mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height:300px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:300px;
}

.gmap_iframe {
    height:300px!important;
}


/* vamos utilizar para tornar o site responsivo */
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho-menu {
        justify-content: center;
        
    }

    .apresentacao {
        flex-direction: column-reverse;
        /* usado pra colocar os objetos na ordem contrária */
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
        /* pra deixar o conteúdo do tamanho da tela */
    }

    .apresentacao-links-navegacao {
        width: auto;
    }
        

}

